@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");
@import "tailwindcss";

body {
  /* background-color: #EEEBE6; */
  font-family: "Sintony";
  @apply bg-dotbackground;
}

@theme {
  --color-dotbackground: #eeebe6;
  --color-dotgreen: #677b4c;
  --color-dotdarkgreen: #495d2f;
  --color-dotblue: #1d4e89;
  --color-dotred: #a24936;
  --color-dotyellow: #e69d00;
  --color-dotpastelgreen: #94d1af;
  --font-sintony: "Sintony";
}
